.movie-title{
    font-weight: bold!important;
}

.movie-item {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.movie-card {
    height: 200px;
    box-shadow: none!important;
    background: none!important;
}

.card-buttons {
    width: 100%;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
}

.postedBy:hover {
    text-decoration: underline;
    cursor: pointer;
}

.likeDislikeCount {
    margin-left: -5px!important;
    font-size: 20px;
}

.likeButton:active {
   color: #1b9ac7;
}

.activeLikeButton {
    color: #1b9ac7!important;
}

.dislikeButton:active {
    color: #a00000;
}

.activeDislikeButton {
    color: #a00000!important;
}

.deleteMovie {
    color: #a00000 !important;
    font-weight: bold!important;
}

.deleteMovie:hover {
    background: #a00000!important;
    color: #fff!important;
}